<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link type="text/css" rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="node_modules/bootstrap-vue/dist/bootstrap-vue.min.css">

  <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="node_modules/vue/dist/vue.min.js"></script>
  <script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="node_modules/bootstrap-vue/dist/bootstrap-vue.min.js"></script>

  <style type="text/css">
    body {
      overflow-x: hidden;
    }

    .led-green {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-right: 5px;
      background-color: #ABFF00;
      border-radius: 50%;
      box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 3px 1px, inset #304701 0 -1px 4px, #89FF00 0 1px 6px;
    }

    .led-green-blink {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-right: 5px;
      background-color: #ABFF00;
      border-radius: 50%;
      box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 3px 1px, inset #304701 0 -1px 4px, #89FF00 0 1px 6px;
      animation: blinkGreen 0.5s infinite;
    }

    @keyframes blinkGreen {
      from {
        background-color: #0F0;
      }

      50% {
        background-color: #0A0;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 3px 1px, inset #304701 0 -1px 4px, #89FF00 0 1px 6px;
      }

      to {
        background-color: #0F0;
      }
    }

    .led-yellow {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-right: 5px;
      background-color: #FF0;
      border-radius: 50%;
      box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 3px 1px, inset #808002 0 -1px 4px, #FF0 0 1px 6px;
    }

    .led-red {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-right: 5px;
      background-color: #F00;
      border-radius: 50%;
      box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 3px 1px, inset #441313 0 -1px 4px, rgba(255, 0, 0, 0.5) 0 1px 6px;
    }

    .item-red {
      color: red
    }

    .item-green {
      color: darkgreen
    }
  </style>
</head>

<body>
  <div id="app">
    <div class="container-fluid alert" style="margin: 0; background-color: #eee">
      <div class="row">
        <div class="col-4">
          <div v-if="depositFormatted">
            <b>Wallet:</b> {{depositFormatted}} MDSIM <small v-if="depositUSDFormatted">({{depositUSDFormatted}}
              USD)</small>
          </div>
          <div v-if="!depositFormatted">
            <b>Wallet:</b> not set up
          </div>
        </div>
        <div class="col-4" style="text-align: center">
          <div v-if="!settingsData.walletAddr">
            <div class="led-red"></div> Need settings set to activate node
          </div>
          <div v-if="settingsData.walletAddr && settingsData.liveMode && (mineStatus.status == 'FAIL' || mineStatus.status == 'FAIL_ANTIVIR')">
            <div class="led-red"></div> Error running node
          </div>
          <div v-if="settingsData.walletAddr && settingsData.liveMode && mineStatus.status != 'FAIL'  && mineStatus.status != 'FAIL_ANTIVIR'">
            <div v-if="!serverStatus.is_live && serverStatus.status_msg" class="led-red"></div>
            <div v-if="serverStatus.is_live || !serverStatus.status_msg" class="led-green"></div>
            <span v-if="serverStatus.status_msg">{{serverStatus.status_msg}}</span>
            <span v-if="!serverStatus.status_msg">Node is active</span>
          </div>
          <div v-if="settingsData.walletAddr && !settingsData.liveMode">
            <div class="led-yellow"></div> Not active on user's wish
          </div>
        </div>
        <div class="col-4" style="text-align: right">
          <b-form-checkbox switch v-model="settingsLiveMode">Node active</b-form-checkbox>
        </div>
      </div>
    </div>
    <div v-if="settingsData.walletAddr && settingsData.liveMode && mineStatus.status != 'FAIL' && mineStatus.status != 'FAIL_ANTIVIR'" class="container-fluid alert alert-success"
      style="margin: 0" role="alert">
      <div class="row">
        <div class="col-4"><b>Engine:</b> {{mineStatus.engine}}</div>
        <div class="col-4" style="text-align: center"><span v-if="mineStatus.hashRate"><b>Ethereum Hashrate:</b>
            {{mineStatus.hashRate}}</span></div>
        <div class="col-4" style="text-align: right"><b>Next pay:</b> 1 AM GMT (2h, 23m left)</div>
      </div>
    </div>
    <div v-if="settingsData.walletAddr && settingsData.liveMode && mineStatus.status == 'FAIL'" class="container-fluid alert alert-danger"
      style="margin: 0" role="alert">
      <div class="row">
        <div class="col-2"><b>Engine:</b> {{mineStatus.engine}}</div>
        <div class="col-10">Failed to activate node. Please make sure that you have GPUs which support the engine used (see left), that all GPUs have at least 8 GB of RAM and that all required software is installed (CUDA Toolkit v11.2 / OpenCL driver).</div>
      </div>
    </div>
    <div v-if="settingsData.walletAddr && settingsData.liveMode && mineStatus.status == 'FAIL_ANTIVIR'" class="container-fluid alert alert-danger"
      style="margin: 0" role="alert">
      <div class="row">
        <div class="col-2"><b>Engine:</b> {{mineStatus.engine}}</div>
        <div class="col-10">Failed to activate node. Either you do not have the needed software installed (CUDA Toolkit v11.2 / OpenCL driver), or your antivirus software (additionally installed or Windows Defender) deleted/blocked our engine executables. In this case, selectivly disable your antivirus software and reinstall Neonious Node.  <a @click="openErrorFailAntivir" style="text-decoration: underline" href="https://www.neonious.org/en/RunNode#AntiVirus" target="_blank">More Info</a></div>
      </div>
    </div>
    <div v-if="!settingsData.walletAddr" class="alert alert-primary" style="margin: 0" role="alert">Welcome to our
      software Neonious Node. As a first step, please give us the needed information to start.
      <button class="btn btn-primary" style="margin-left: 10px" @click="openSettings">Open Settings</button>
    </div>
    <div v-if="settingsData.walletAddr && !deposit && !settingsData.hideDeposit" class="alert alert-primary" style="margin: 0" role="alert">You have
      no MDSIMs in your wallet. Consider transfering MDSIMs to your wallet to receive higher paid work.
      <button class="btn btn-primary" style="margin-left: 10px" @click="openDeposit">Explain More</button>
      <button class="btn btn-secondary" style="margin-left: 10px" @click="hideDeposit">Hide Message</button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th style="background-color: #ddd; position: sticky; top: 0">Date</th>
          <th style="background-color: #ddd; position: sticky; top: 0">Action</th>
          <th style="background-color: #ddd; position: sticky; top: 0">Comment</th>
          <th style="background-color: #ddd; position: sticky; top: 0; text-align: right">Earned</th>
          <th style="background-color: #ddd; position: sticky; top: 0; text-align: right">Balance</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in log.slice().reverse()">
          <td class="text-nowrap">{{item.date}}</td>
          <td class="text-nowrap">{{item.action}}</td>
          <td class="text-nowrap">{{item.comment}}</td>
          <td class="text-nowrap" style="text-align: right">{{item.earnedFormatted}} MDSIM</td>
          <td class="text-nowrap" style="text-align: right">{{item.depositFormatted}} MDSIM</td>
        </tr>
      </tbody>
    </table>

  </div>
  <script>
    function formatNo(no, sub_digits) {
      const CONTINENTAL = false;

      const sub = no < 0;
      if (sub)
        no = -no;

      let val;
      if (CONTINENTAL)
        val = ((no | 0) + '').replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.');
      else
        val = ((no | 0) + '').replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
      if (sub_digits) {
        const subDigits = (no - (no | 0)).toFixed(sub_digits);
        if (subDigits == 1) {
          no = (no | 0) + 1;
          if (CONTINENTAL)
            val = ((no | 0) + '').replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.');
          else
            val = ((no | 0) + '').replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
        }
        val += (CONTINENTAL ? ',' : '.') + subDigits.substr(2);
      }
      if (sub)
        val = '-' + val;

      return val;
    }

    const params = JSON.parse(decodeURIComponent(location.search.substr(1))); // skip ?
    for (let i = 0; i < params.log.length; i++) {
      params.log[i].earnedFormatted = formatNo(params.log[i].earned, 2);
      params.log[i].depositFormatted = formatNo(params.log[i].deposit, 2);
    }

    Vue.use(BootstrapVue);
    const App = new Vue({
      el: '#app',
      data: {
        settingsData: params.settingsData,
        settingsLiveMode: params.settingsData.liveMode,
        serverStatus: params.serverStatus,
        log: params.log,
        deposit: params.log.length ? params.log[params.log.length - 1].deposit : 0,
        depositUSDFormatted: params.serverStatus.rate_usd === undefined ? undefined : formatNo((params.log.length ? params.log[params.log.length - 1].deposit : 0) * params.serverStatus.rate_usd, 2),
        depositFormatted: params.log.length ? params.log[params.log.length - 1].depositFormatted : '0.00',
        mineStatus: params.mineStatus
      },
      watch: {
        settingsLiveMode: function (val) {
          sendBackend('liveMode', val);
        }
      },
      methods: {
        openSettings: () => {
          sendBackend('openSettings');
        },
        openDeposit: () => {
          sendBackend('openDeposit');
        },
        openErrorFailAntivir: (e) => {
          e.preventDefault();
          sendBackend('openErrorFailAntivir');
        },
        hideDeposit: function() {
          alert("We will hide this message now.\n\nIn the future, to access your wallet's deposit or withdrawal instructions, please go to the File menu.")

          this.settingsData.hideDeposit = true;
          sendBackend('hideDeposit');
        },
        test: () => {
          sendBackend('test');
        },
        abortSim: () => {
          if (confirm("Are you sure you wish to abort the simulation? If this is a paid simulation, this will result into no MDSIMs earned."))
            sendBackend('abortSim');
        }
      }
    });

    window.onBackend((event, param) => {
      if (event == 'settingsSet')
        App._data.settingsData = param;
      if (event == 'logChanged') {
        for (let i = 0; i < param.length; i++) {
          param[i].earnedFormatted = formatNo(param[i].earned, 2);
          param[i].depositFormatted = formatNo(param[i].deposit, 2);
        }
        App._data.log = param;
        App._data.deposit = param.length ? param[param.length - 1].deposit : 0;
        App._data.depositUSDFormatted = App._data.serverStatus.rate_usd === undefined ? undefined : formatNo((param.length ? param[param.length - 1].deposit : 0) * App._data.serverStatus.rate_usd, 2),
          App._data.depositFormatted = param.length ? param[param.length - 1].depositFormatted : '0.00'
      }
      if (event == 'serverStatusChanged') {
        App._data.depositUSDFormatted = param.rate_usd === undefined ? undefined : formatNo((App._data.log.length ? App._data.log[App._data.log.length - 1].deposit : 0) * param.rate_usd, 2),
          App._data.serverStatus = param;
      }
      if (event == 'mineStatusChanged') {
        App._data.mineStatus = param;
      }
    });
  </script>
</body>

</html>