<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link type="text/css" rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="node_modules/bootstrap-vue/dist/bootstrap-vue.min.css">

    <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="node_modules/vue/dist/vue.min.js"></script>
    <script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="node_modules/bootstrap-vue/dist/bootstrap-vue.min.js"></script>
</head>

<body>
    <div id="app">
        <div style="padding: 20px">
            <form @submit="settingsSet">
                <div class="form-group">
                    Engine:
                    <label for="engineCUDA" style="margin-left: 20px"><input id="engineCUDA" type="radio" name="engine" value="cuda" v-model="engine"> NVIDIA CUDA</label>
                    <label for="engineOCL" style="margin-left: 20px"><input id="engineOCL" type="radio" name="engine" value="ocl" v-model="engine"> OpenCL (AMD + NVIDIA)</label>
                </div>
                <div class="form-group">
                    <label for="walletAddrInput">Payout Address</label>
                    <input class="form-control" :class="{ 'is-invalid' : walletAddrErr}" id="walletAddrInput" aria-describedby="walletAddrHelp" placeholder="0x..."
                        v-model.trim="walletAddr">
                    <small id="walletAddrHelp" class="form-text text-muted">Please enter the Ethereum address where you will transfer your earned MDSIMs to.
                        For security reasons, your earnings are tied to this address. Change the address with an empty Neonious Node wallet only.</small>
                </div>
                <div class="form-group">
                    <label for="nodeTitleInput">Node Title</label>
                    <input class="form-control" :class="{ 'is-invalid' : nodeTitleErr}" id="nodeTitleInput" aria-describedby="nodeTitleHelp"
                        placeholder="" v-model.trim="nodeTitle">
                    <small id="nodeTitleHelp" class="form-text text-muted">Optionally enter a title for your node to be able to identify the node in correspondence with Neonious.</small>
                </div>
                <div class="form-group">
                    <label for="emailInput">E-Mail Address</label>
                    <input class="form-control" :class="{ 'is-invalid' : emailErr}" id="emailInput" aria-describedby="emailHelp"
                        placeholder="" v-model.trim="email">
                    <small id="emailHelp" class="form-text text-muted">Optionally enter your e-mail address to receive notifications per mail.</small>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="systemStartInput" v-model="systemStart">
                    <label class="form-check-label" for="systemStartInput">Launch on system start</label>
                </div>
                <button type="submit" class="btn btn-success" style="float: right">Apply</button>
                <button class="btn btn-secondary" @click="settingsClose">Cancel</button>
            </form>
        </div>
    </div>
    <script>
        const params = JSON.parse(decodeURIComponent(location.search.substr(1))); // skip ?

        function check_mail_addr(mail) {
            return /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(mail);
        }

        Vue.use(BootstrapVue);
        const App = new Vue({
            el: '#app',
            data: {
                walletAddr: params.data.walletAddr ? params.data.walletAddr : '',
                email: params.data.email ? params.data.email : '',
                nodeTitle: params.data.nodeTitle ? params.data.nodeTitle : '',
                systemStart: params.data.systemStart !== undefined ? params.data.systemStart : true,
                engine: params.data.engine,
                walletAddrErr: false,
                emailErr: false,
                nodeTitleErr: false
            },
            methods: {
                settingsClose: () => {
                    window.sendBackend('settingsClose');
                },
                settingsSet: function(e) {
                    e.preventDefault();

                    this.walletAddrErr = false;

                    let err = false;
                    if(this.email !== '' && !check_mail_addr(this.email)) {
                        this.emailErr = true;
                        err = true;
                    }

                    window.sendBackend('settingsSet', {
                        data: {
                            walletAddr: this.walletAddr,
                            systemStart: this.systemStart,
                            email: this.email,
                            nodeTitle: this.nodeTitle,
                            engine: this.engine
                        },
                        err
                    });
                }
            }
        });

        window.addEventListener('load', (event) => {
            window.sendBackend('settingsLoaded', $('#app').height());
        });

        window.onBackend((event, param) => {
            if (event == 'walletAddrErr')
                App._data.walletAddrErr = true;
        });
    </script>
</body>

</html>